<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="default_schema">jyd</property>
	<!--提供了hibernate.generate_statistics属性，该属性提供了Hibernate应用中操作的统计信息，必须在hibernate.cfg.xml文件中进行配置。该属性在配置文件中的默认值是关闭的，因为它会消耗一些资源，但是它很适合在我们开发过程中调试程序时使用	-->
	<!--	<property name="generate_statistics">true</property>-->
	<mapping class="com.jyd.model.Role" />
	<mapping class="com.jyd.model.User" />
</session-factory>
</hibernate-configuration>