.popup_body    {position:fixed;left:0;top:0;width:100%;height:100%;display:none;z-index:999999999;}
.popup_mask    {background-color:#000;position:fixed;filter:alpha(opacity=60);opacity: 0.6;width:100%;height:100%;-moz-user-select:none;}
.popup_main    {position:fixed;font-family:微软雅黑,宋体;}
.popup_table   {border-width:0px;border-collapse:collapse;width:100%;}
.popup_table td{border-width:0px;padding:0px;border:0px solid red;}

.popup_table .popup_header        {height:35px;-moz-user-select:none;clear:both;}
.popup_table .popup_header .exf_left  {width:13px;background:url(../themes/css/ExfBG.png) left top no-repeat;}
.popup_table .popup_header .exf_center{background:url(../themes/css/ExfBG.png) left -40px repeat-x;}
.popup_table .popup_header .exf_center .title     {float:left;background-color:Transparent;}
.popup_table .popup_header .exf_center .title span{font-size:14px;font-weight:bold;display:block;margin-top:12px;cursor:default;color:Black;}


.popup_table .popup_header .exf_center .tools span{display:inline-block;height:18px;cursor:pointer;}

.popup_table .popup_header .exf_center .tools     {float:right;width:83px;background:url(../themes/css/ExfBG.png) left -147px no-repeat;height:35px;}
.popup_table .popup_header .exf_center .tools.focusB{background-position:-85px -147px;}
.popup_table .popup_header .exf_center .tools.focusR{background-position:-170px -147px;}
.popup_table .popup_header .exf_center .tools.max          {background-position:left -185px;}
.popup_table .popup_header .exf_center .tools.max.focusB   {background-position:-85px -185px;}
.popup_table .popup_header .exf_center .tools.max.focusR   {background-position:-170px -185px;}
.popup_table .popup_header .exf_center .tools .max  {width:32px;margin:7px 0 0 5px;}
.popup_table .popup_header .exf_center .tools .close{width:44px;margin:7px 0 0 1px;}


.popup_table .popup_header .exf_center .tools.single {float:right;width:83px;background:url(../themes/css/ExfBG.png) right -147px no-repeat;height:35px;}
.popup_table .popup_header .exf_center .tools.single.focusR{background-position:right -185px;}
.popup_table .popup_header .exf_center .tools.single .max  {display:none;}
.popup_table .popup_header .exf_center .tools.single .close{width:45px;margin:7px 0 0 37px;}

.popup_table .popup_header .exf_rightfocus {width:13px;background:url(../themes/css/ExfBG.png) -30px top no-repeat;}
.popup_table .popup_header .exf_right {width:13px;background:url(../themes/css/ExfBG.png) -15px top no-repeat;}

.popup_table .popup_content         {font-size:12px;}
.popup_table .popup_content .exf_left   {width:13px;background:url(../themes/css/ExfBG_Line.png) left 0px repeat-y;}
.popup_table .popup_content .exf_center {background-color:#FFF;}
.popup_table .popup_content .exf_content{margin:2px;overflow:auto;}
.popup_table .popup_content .exf_content .loading{text-align:center;line-height:40px;font-weight:bold;color:Red;}
.popup_table .popup_content .exf_right  {width:13px;background:url(../themes/css/ExfBG_Line.png) right 0px repeat-y;}
.popup_table .popup_content .exf_note   {height:50px;background-color:#EFEFEF;border-bottom:1px solid #CACACA;-moz-user-select:none;}
.popup_table .popup_content .exf_note img {width:32px;height:32px;margin:8px 5px 0px 8px;float:left;}
.popup_table .popup_content .exf_note .notetext{float:left;line-height:16px;text-align:left;}
.popup_table .popup_content .exf_note .notetext .title {font-weight:bold;display:block;margin-top:8px;}
.popup_table .popup_content .exf_note .notetext .msg   {color:#333;}
.popup_table .popup_content .exf_buttons {height:40px;background-color:#EFEFEF;border-top:1px solid #CACACA;text-align:right;padding-right:15px;padding-top:0px;-moz-user-select:none;}
.popup_table .popup_content .exf_buttons .exf_button       {background:url(../themes/css/ExfBG.png) -86px -121px no-repeat;width:79px;height:23px;display:inline-block;text-align:center;cursor:pointer;line-height:23px;margin:0 2px;margin-top:8px;}
.popup_table .popup_content .exf_buttons .exf_button.focus {background-position:0 -121px;}

.popup_table .popup_bottom        {height:13px;-moz-user-select:none;}
.popup_table .popup_bottom .exf_left  {width:13px;background:url(../themes/css/ExfBG.png) left -80px no-repeat;}
.popup_table .popup_bottom .exf_center{background:url(../themes/css/ExfBG.png) left -98px repeat-x;}
.popup_table .popup_bottom .exf_right {width:13px;background:url(../themes/css/ExfBG.png) right -80px no-repeat;}

.popup_icon_1                     {width:13px;background:url(../themes/css/ExfBG.png) left -233px no-repeat;width:50px;height:50px;display:block;}
.popup_icon_2                     {width:13px;background:url(../themes/css/ExfBG.png) -88px -235px no-repeat;width:50px;height:50px;display:block;}
.popup_icon_3                     {width:13px;background:url(../themes/css/ExfBG.png) -165px -233px no-repeat;width:55px;height:50px;display:block;}

.popup_moveline                   {border:1px solid #333;position:fixed;filter:alpha(opacity=50);opacity: 0.5;background-color:#FFF;-moz-user-select:none;display:none;}