.popup_body    {position:absolute;left:0;top:0;width:100%;height:100%;display:none;z-index:999999999}
.popup_mask    {background-color:#000;position:absolute;filter:alpha(opacity=60);opacity: 0.6;width:100%;height:100%;-moz-user-select:none;left:0;top:0;}
.popup_main    {position:absolute;font-family:宋体;}
.popup_table   {border-width:0px;border-collapse:collapse;width:100%;border:1px solid #333;}
.popup_table td{border-width:0px;padding:0px;border:0px solid red;}

.popup_table .popup_header        {height:30px;-moz-user-select:none;clear:both;}
.popup_table .popup_header .exf_left  {width:5px;filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_header .exf_center{filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_header .exf_center .title     {float:left;position:relative;filter:glow(color=#FFFFFF,strength=1);background-color:Transparent;}
.popup_table .popup_header .exf_center .title span{font-size:14px;font-weight:bold;display:block;margin-top:7px;cursor:default;color:Black;}

.popup_table .popup_header .exf_center .tools span{display:inline-block;height:18px;cursor:pointer;}

.popup_table .popup_header .exf_center .tools     {float:right;width:83px;background:url(../themes/css/ExfBG_IE6.gif) left 0 no-repeat;height:30px;position:relative;}
.popup_table .popup_header .exf_center .tools.focusR{background-position:-170px 0;}
.popup_table .popup_header .exf_center .tools.focusB{background-position:-85px 0;}
.popup_table .popup_header .exf_center .tools .max  {width:32px;margin:1px 0 0 5px;}
.popup_table .popup_header .exf_center .tools .close{width:44px;margin:1px 0 0 1px;}

.popup_table .popup_header .exf_rightfocus {filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_header .exf_right {width:5px;filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}

.popup_table .popup_content         {font-size:12px;}
.popup_table .popup_content .exf_left   {filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_content .exf_center {background-color:#FFF;border:1px solid #69696a;}
.popup_table .popup_content .exf_content{margin:2px;overflow:auto;}
.popup_table .popup_content .exf_content .loading{text-align:center;line-height:40px;font-weight:bold;color:Red;}
.popup_table .popup_content .exf_right  {width:5px;filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_content .exf_note   {height:50px;background-color:#EFEFEF;border-bottom:1px solid #CACACA;-moz-user-select:none;}
.popup_table .popup_content .exf_note img {width:32px;height:32px;margin:8px 5px 0px 8px;float:left;}
.popup_table .popup_content .exf_note .notetext{float:left;line-height:16px;text-align:left;}
.popup_table .popup_content .exf_note .notetext .title {font-weight:bold;display:block;margin-top:8px;}
.popup_table .popup_content .exf_note .notetext .msg   {color:#333;}
.popup_table .popup_content .exf_buttons {height:40px;background-color:#EFEFEF;border-top:1px solid #CACACA;text-align:right;padding-right:15px;padding-top:0px;-moz-user-select:none;}
.popup_table .popup_content .exf_buttons .exf_button       {background:url(../themes/css/ExfBG_IE6.gif) -86px -121px no-repeat;width:79px;height:23px;display:inline-block;text-align:center;cursor:pointer;line-height:23px;margin:0 2px;margin-top:8px;}
.popup_table .popup_content .exf_buttons .exf_button.focus {background-position:0 -121px;}

.popup_table .popup_bottom        {height:5px;-moz-user-select:none;}
.popup_table .popup_bottom .exf_left  {filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_bottom .exf_center{filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}
.popup_table .popup_bottom .exf_right {filter:alpha(opacity=40);opacity: 0.4;background-color:#CDE3FA;}

.popup_icon_1                     {width:13px;background:url(../themes/css/ExfBG_IE6.gif) left -233px no-repeat;width:50px;height:50px;display:block;}
.popup_icon_2                     {width:13px;background:url(../themes/css/ExfBG_IE6.gif) -88px -235px no-repeat;width:50px;height:50px;display:block;}
.popup_icon_3                     {width:13px;background:url(../themes/css/ExfBG_IE6.gif) -165px -233px no-repeat;width:55px;height:50px;display:block;}

.popup_moveline                   {border:1px solid #333;position:absolute;filter:alpha(opacity=50);opacity: 0.5;background-color:#FFF;-moz-user-select:none;display:none;}